#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

header {
  display: flex;
  gap: 10px;
  margin-bottom: 48px;
  justify-content: center;
  align-items: center;
}